{% extends 'base.html' %}

{% block title %}
Password Reset
{% endblock title %}

{% block head %}
<h1>Password Reset Email Sent</h1>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12">
            <p>If the email address you entered is associated with an account, you will receive a password reset link shortly.</p>
            <p><a href="{% url 'login' %}">Return to Login</a></p>
        </div>
    </div>
</div>
{% endblock head %}