{% extends 'base.html' %}

{% block title %}
Forgot Password
{% endblock title %}

{% block head %}
<h1>Forgot Your Password?</h1>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12">
        
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        
            <form method="post">{% csrf_token %}
                <div class="form-group">
                    <label for="email">Enter your email address</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-warning" type="submit">Send Password Reset Link</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock head %}